@use '@renderer/styles/libs/functions/index' as *;

$baseFontColor: p('black');#0b0812$baseBorderColor // #bfbfbf

$baseContainerWidth: 393;#bfbfbf$baseContainerWidth#bfbfbf$baseContainerWidth#bfbfbf$baseContainerWidth
$baseContainerHeight: 852;$baseContainerHeight$baseContainerHeight

$SFFont: -apple-system, sans-serif;$SFFont
$NotoSerif: 'Noto Serif', serif;
$Lora: 'Lora', serif;

$zMax: 20;
$zSnackbar: 18;
$zBasicModal: 16;
$zHalfModal: 14;
$zFullModal: 12;
$zModalFloat: 10;
$zModal: 8;
$zFloat: 6;
