name: dependabot auto mage

on:
  pull_request:
    branches: ['main']
jobs:
  merge:
    if: ${{ github.actor == 'dependabot[bot]' }} # Dependabotのプルリクエストのみ許可
    runs-on: ubuntu-latest
    permissions: # プルリクエスト・ソースコードの書き込み許可
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }} # GitHub CLIのクレデンシャル
    steps:
      - uses: actions/checkout@v4
      - id: meta
        uses: dependabot/fetch-metadata@v2
        # patch、Github Actions向けの変更は自動マージする パッチバージョンの変更はバグ修正がメインでソフトウェアが壊れるリスクは低いため。
      - if: ${{ steps.meta.outputs.update-type == 'version-update:semver-patch' ||
          (steps.meta.outputs.package-ecosystem == 'github_actions' &&
          steps.meta.outputs.update-type != 'version-update:server-major') }}
        run: |
          gh pr review "${GITHUB_HEAD_REF}" --approve
          gh pr merge "${GITHUB_HEAD_REF}" --merge --auto
